body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.calculator {
    background: linear-gradient(135deg, #f05c5c 25%, transparent 25%) -50px 0,
            linear-gradient(225deg, #36f8ff 25%, transparent 85%) -50px 0,
            linear-gradient(315deg, #d10b0b 25%, transparent 25%),
            linear-gradient(45deg, #0323f5 25%, transparent 25%);
        background-color: #bdc6f5;
    padding: 20px;
    border: 3px solid yellow;
    border-radius: 10px;
    width: 300px;
    box-shadow: rgb(0, 255, 13) 2px 3px 10px 7px;
}

.display {
    background: rgb(80, 43, 211);
    color: rgb(59, 255, 10);
    padding: 20px;
    font-size: 2rem;
    text-align: right;
    margin-bottom: 10px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.btn {
    background: rgb(206, 34, 177);
    color: #fff;
    font-size: 1.5rem;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 3s;
    border: 1px solid rgb(59, 255, 10);
}

.btn:hover {
    background: yellow;
    color: blue;
}